.main-contents{
  width: calc(100% - 300px);
  float: left;
  height: 100%;
  .main-header{
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid #eeeeee;
    @include distribute;
    &__box{
      margin-top: 35px;
      &__current-group{
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__members{
        font-size: 12px;
        display: flex;
        color: #999999;
        &__member:nth-child(n + 2){
          margin-left: 5px;
        }
      }
    }
    &__edit-btn{
      margin-top: 28px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      border: 1px solid $cyan;
      color: $cyan;
      position: absolute;
      right: 40px;
    }
  }
  .messages{
    background-color: #fafafa;
    height: calc(100% - 190px);
    padding: 46px 40px 0 40px;
    overflow: scroll;
    .message{
      margin-bottom: 40px;
      &__info{
        margin-bottom: 10px;
        display: flex;
        &__user{
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
        }
        &__timestamp{
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  .form{
    height: 90px;
    padding: 20px 40px;
    background-color: #dddddd;
    .new-post{
      display: flex;
      height: 50px;
      &__box{
        width: 100%;
        position: relative;
        &__text{
          height: 50px;
          padding-left: 10px;
          padding-right: 45px;
          color: #434A54;
          width: 100%;
          border-style: none;
        }
        &__image{
          position: absolute;
          font-size: 16px;
          top: 13px;
          right: 13px;
          &__file{
            display: none;
          }
        }
      }
    }
    &__submit-btn{
      background-color: $cyan;
      height: 50px;
      width: 100px;
      margin-left: 15px;
      color: $white;
      padding: 0 30px;
    }
  }
}